
/**************************
GENERAL
**************************/
html { position: relative; min-height: 100%;}
body {font: 100%/1.4 'Montserrat', Arial,Verdana,sans-serif; padding-bottom: 0;
   margin-bottom: 287px; /* Margin bottom to match footer height */
}

a, a:active, a:visited {text-decoration: none!important;}	

.body {
	min-height: 700px;
	background: transparent url('../../images/site/bottom-image.jpg') center bottom;	
	/*background-position:  0 1500px;*/
    background-repeat: no-repeat;   
    /*background-attachment: fixed;*/
	/*background-size: auto auto; */
	background-size:cover;
	background-size: 100%;	
}
.body-spacer {height: 700px;}

.blog-sidebar, .blog-main { margin-bottom: 40px;}
.blog-sidebar {padding-left: 0; border-right: 1px solid #828384; text-align: right;}
.blog-post {padding: 0px 0px 0px 10px;}

.container .blog-post a, a:active, a:visited{ text-decoration: none; color:#f6862d; border:none; border-radius: unset!important; /*text-transform: uppercase; */ font-size: 16px; font-weight: 300;}
.container .blog-post a:hover{ color: #fff; color: #000; text-decoration: none;}

.container .blog-post h1 {color: #66cc33; font-size: 31px;}
.container .blog-post h2 { color: #ff6633; font-weight: 700; font-size: 18px; line-height: 110%; padding: 5px 0 5px 0; text-transform:uppercase; }
.container .blog-post h3 { color: #ff6633; font-weight: 500; font-size: 15px; line-height: 110%; /*padding: 15px 0 10px 0; */}
.container .blog-post h4 { color: #66cc33; font-size:15px; line-height: 110%; padding: 15px 0px 8px 0px; font-weight: 700; text-transform:uppercase;}
.container .blog-post h5 { color: #66cc33; font-weight: 700; font-size: 15px; line-height: 110%; padding: 15px 0 5px 0; }
.container .blog-post hr { border-top: 1px solid #66cc33;}

.container .blog-post ul { list-style-type: none;	}
.container .blog-post li {font-size: 16px;}

.container .blog-post li::before {
  content: "\2022"; 
    position: absolute;
    left: 0px;
    color: #66cc33;
    font-size: 20px;
    margin-top: -2px;
	display: inline-block;
	font-weight:900;
	margin-left: 80px;}

blockquote {width: 100%; color: #ff6633; font-size: 16px; text-align: left; margin: auto; }
blockquote p {  font-size: 16px; color:#ff6633!important; margin: 20px 0px; padding-left: 30px; } 
blockquote::before {
	font-family: 'Font Awesome\ 5 Free';
    content: "\f054"; 
    position: absolute;
    left: 0px;
    color: #ff6633;
    font-size: 35px;
    margin-top: -2px;
	display: inline-block;
	font-weight:900;
	margin-left: 50px;}

/**************************
NAVBAR
**************************/
header {height:200px;}

.navbar-header {position: fixed; top: 0; right: 0; left: 0; z-index: 1030;}

.navbar {padding:0!important;}
.mr-auto, .mx-auto {margin: auto !important;}
.navbar-nav .nav-link {padding-left: 30px!important; padding-right: 30px!important; font-size: 19px; color:#666666;}
.btco-hover-menu a, .navbar > li > a {font-size: 19px;}

.btco-hover-menu .collapse ul > li:hover > a{color:#f6862d;}
.navbar-nav .active {color: #f6862d!important;}

.affix {
    /*height: 75px !important;*/
   /* padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;*/
    -webkit-transition:padding 0.2s linear;
    -moz-transition:padding 0.2s linear;
    -o-transition:padding 0.2s linear;
    transition:padding 0.2s linear;
}

.dropdown-menu {margin-left: 15px; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1.00)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

button:focus {outline: none;}

.affix .navbar-logo img{ height: 60px; padding-top:5px; }
.affix .navbar-logo { height: 65px; }
.affix .navbar-contacts, .affix .navbar-contacts-left, .affix .navbar-contacts-right { height: 30px; }
.affix .navbar-contacts-txt .panelNav {top:-10px;}
.affix .navbar-contacts i {font-size:20px;}
.affix .navbar-contacts a {font-size:20px; margin-top:0;}
.affix .navbar-contacts span {font-size:20px;}
.affix .navbar-menu {height:30px;}
.affix .navbar-nav .nav-link {padding-top: 0; padding-bottom: 0;}

/**************************
NAVBAR - LOGO
**************************/
.navbar-logo {width:100%; height:130px; text-align: center; background-color: #fff;}
.navbar-logo img {padding-top: 25px;}

/**************************
NAVBAR - CONTACTS
**************************/
.navbar-contacts {width:100%; height:58px;}
.navbar-contacts-left {width:50%; float:left; height:58px; background-color: #66cc33;}
.navbar-contacts-right {width:50%; float:right; height:58px; background-color: #ff6633;}

.navbar-contacts-txt-box {width:100%;}
.navbar-contacts-txt-txt {float:right;}
.navbar-contacts-txt-lang {position: absolute; left: 0;}

.navbar-contacts-txt {position: relative; top: 0px; right: 0; text-align: right; margin-bottom: -52px; color: #fff; font-size:30px; font-weight: 500; }
.navbar-contacts a {color: #fff; text-decoration: none; padding:0 5px; font-size:30px; font-weight: 500; display: inline-block; margin-top:10px;}
.navbar-contacts a:hover {color: #cc3333;}
.navbar-contacts i {color:#cc3333; font-size:30px;}

.contact-separator {height:10px; }

.divMap {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
}

/**************************
NAVBAR - MENU
**************************/
.navbar-menu {width:100%; height:48px; background-color: #cccccc;}
.navbar-nav .active > .nav-link {color: #ff6633!important;}

/**************************
NAVBAR - SHOP
**************************/
.navbar-shop {padding: 0 10px;}
.navbar-shop a {color: #28a745; text-decoration: none; padding:0 5px;}
.navbar-shop a:hover {color: rgba(255,255,255,1);}

/**************************
PANEL STYLES
**************************/
.panelNav {max-width:1600px; margin:auto; /*border:1px solid #000; */ width: 100%; z-index: 1000; position: relative;}

/**************************
HOME PAGE
**************************/
.home-intro {}
.home-intro-box {background-color: #ff9966; padding:0!important;}
.home-intro-box-hdr {color:#fff; font-size: 60px; font-weight: 500; text-align: center; text-shadow: 2px 2px #B0ABAB;
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); 
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);	
}
.home-intro-box-txt {color:rgba(102,51,0,0.60); font-size: 26px; line-height: 180%; font-weight: 600; width:80%; text-align: center;
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); 
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);	
}
.home-intro-box-txt i {color:#ff9966; background-color: rgba(102,51,0,0.60); border-radius: 50%; padding: 5px 10px; font-size:30px; margin-top: 20px; }
.home-intro-box-txt a:hover > i { background-color: rgba(102,51,0,1);}
.home-intro-box img {width: 100%;}

/**************************
HOME PAGE - NEWS PANEL
**************************/
.home-news {width: 100%; background: #343a40; padding: 40px 0; text-align: center;}
.home-new-img {padding: 10px 0;}
.home-news h2 {color:#fff;}
.home-news p {color:#fff;}

/**************************
HOME PAGE - PROJECTS PANEL
**************************/
.home-projects {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-projects-img {padding: 10px 0;}
.home-projects h2 {color:#fff;}
.home-projects p {color:#fff;}

/**************************
HOME PAGE - PRODUCTS PANEL
**************************/
.home-products {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-products-img {padding: 10px 0;}
.home-products h2 {color:#fff;}
.home-products p {color:#fff;}

/**************************
NAVSIDEBAR
**************************/
.sidebar-module { text-align: right; padding-top:10px; margin-right: 40px;}
.sidebar-module h4 {font-size:16px; color:#66cc33;}
.sidebar-module h5 {font-size:16px; color:#66cc33; margin-bottom: 0;}
.sidebar-module a {color: #5a5a5a; text-decoration: none;}
.sidebar-module a:hover {color: #000;}
.navsidebar .active > a {color: #000;}

/* Sub Menu */
.navsidebar-sub {padding-left:10px;}

/**************************
PRODUCTS MODULE
**************************/
.products-row .col-md-4 {padding-top: 15px;}
.products-row {margin-top: 0!important; padding-bottom: 0!important; min-height: 0!important;}
.products-row .col-3 img {width: 100%;}

.products-row-txt {position:relative; top: -60px; margin-bottom: -60px; background: rgba(255,255,255,0.80); padding: 5px; }
.products-row h2 {color:#000; text-transform: uppercase; font-size: 32px; font-weight: 700; margin-bottom: 10px; text-align: center;}
.products-row h3 {color:#999999; text-transform: uppercase; font-size: 18px; letter-spacing: 0px; font-weight: 600; text-align: center;}
.products-row h4 {color:#000; font-size: 18px; font-weight: 600; text-align: center;}

.products-row-a, .products-row-a img,.div-img  {overflow:hidden;}
.products-row-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.products-row-a:hover  {color:#000;  overflow:hidden;   
	opacity:0.6;
}
.products-row-a:hover h3 {color: #fff;}
.products-row-a:hover h4 {color: #fff; }
.products-row-a:hover .products-row-txt {background: rgba(0,0,0,1.00);padding-bottom: 2px!important;} 

.product-item-price {color:#000; font-weight:700; font-size: 18px;}
.product-item-description {padding: 10px 0;}
.product-item-shipping {padding-bottom:20px;}
.product-item-shipping h3 {text-transform: uppercase; font-weight:400; letter-spacing: 3px; font-size: 13px;}

.btn-cart {text-transform: uppercase; background: #99cccc; padding:12px 0px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; width: 100%;}
.btn-cart:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

/**************************
SHOPPING CART
**************************/
.hidden-country {display:none!important; height:0!important;}

.table thead th {border-bottom: 2px solid #99cccc;}
.table td, .table th {border-top: 1px dotted #99cccc;}
.table thead th {letter-spacing: 4px; color:#000; font-size: 18px; border-top: none;}
.table td {color:#000; font-size: 16px; font-weight: 400;}
.table tfoot th {color:#000; font-size: 16px; text-align: right; border-top: 1px solid #99cccc; font-weight: 700;}
.td-center {text-align: center;}
.td-right {text-align: right;}

.btn-cart-remove {color: #99cccc!important; text-decoration: none; font-size: 16px !important; font-weight: 600; letter-spacing: 2px; position: relative; top: -4px; padding: 0; text-transform: lower;}	
.btn-cart-remove i {position: relative; top:1px;}
.btn-cart-remove:hover {color: #000!important; text-decoration: none;}

.btn-cart-shopping {color: #99cccc!important; text-decoration: none; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lower;}	
.btn-cart-shopping:hover {color: #000!important; text-decoration: none;}

.btn-checkout, .btn-checkout:active, .btn-checkout:visited {text-transform: uppercase; background: #66cc33;; padding:12px 20px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; border-radius: 0;  border: 1px solid #66cc33;}
.btn-checkout:hover {background: #fff; color:#66cc33; border: 1px solid #66cc33;}

#checkout h3 {color: #99cccc !important; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lowercase;}

.alert-info {
    color: #000;
    background-color: #fff;
    border-color: #99cccc;
    border-radius: 0;
    letter-spacing: 2px;   
    font-weight: 600;
    margin: 0 0px 20px 0px;
}

.alert-error {color:#FB0307}

.form-control-feedback {color: #CC0000; padding: 10px 0px 0px 10px;}

/**************************
FOOTER
**************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 287px; /* Set the fixed height of the footer here (for sticky footer) */
  background-color: #333333;
  color:#fff;	
  font-size: 16px;	
  text-align: left;
  padding-top: 50px;
}

.footer .panelNav {background-color: #333333;}

.footer h2 {font-size:19px; color:#fff; font-weight: 600; margin-bottom: 0px !important;}

#footer-txt {color: #fff; width:100%; margin: 0 auto; text-align: left; font-size: 16px; background:#333333; height:35px; padding-top: 5px;}
#footer-txt a, #footer-txt a:active, .footer a, .footer a:active {color: #fff; text-decoration: none; font-size: 16px; line-height: 120%; padding: 0 2px;}
#footer-txt a:hover, .footer a:hover { color: #66cc33; text-decoration: none;}
.footer-a-first {padding-left:0!important}

#footer-txt img {padding: 0 50px;}
.footer-txt-logo {display:inline-block;}

.footer-menu a { text-transform: uppercase; font-size: 14px; margin-bottom: 8px; display: inline-block;}
.footer-menu a:hover {color:#000;}

.footer-col-contacts {padding-top:30px;}
.footer-col-links {padding-top:40px;}

/**************************
PREVIEW BAR
**************************/
.preview {width:100%; height:52px; background-color: #a6dbd7; position:fixed; z-index: 1000; top:0; color:#fff; }
.preview .navbar-logo {height: 54px; width: auto; position: relative; top: -2px;margin-left: 15px}
.preview, .preview a {font-size: 20px; color:#fff; font-weight: 500; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.preview a:hover {color: #000!important;}
.preview a i {padding-top: 15px;}
.preview-return {float:right; margin-right: 30px;}
.preview-return a {font-size:16px; color:#b71319;}
.preview .spacer {padding: 0 10px;}

/**************************
HELPER - SHARING
**************************/
#share {font-size: 11px!important; border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.a2a_menu a {font-size: 13px!important;}
.a2a_menu {background: #e8e8e8!important; }
a.a2a_i, i.a2a_i {border: none!important;}
#share i {font-size: 18px; padding: 0 7px 0 0;}
#share a {padding: 0 7px 0 0;}
.share-space {float: left; padding: 0 70px 0 0; }
.share-space a {color: #444; }
.share-space a:hover {color: #ccc; }

/**************************
HELPER - PAGINATION
**************************/
#pagination {border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.pagination  li {padding: 0 5px; font-size: 16px;}

/**************************
HELPER - BUTTONS
**************************/
.btn-more {width: auto; margin-top: 10px!important; text-align: center;  } /* style used on button tag */
.btn-more a, .btn-more a:active, .btn-more a:visited { }
.btn-more a:hover {}

.btn-back {width:100%; font-size: 11px!important; font-weight: 400;  padding: 20px 0 0 0; }
.btn-back a, .btn-back a:active, .btn-back a:visited {color: #cc0000!important; text-decoration: none;}	
.btn-back a:hover {color: #cccccc!important;}

/**************************
NEWS MODULE
**************************/
.news-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.news-list-item .btn {padding: 2px 20px;}
.news-list-item-txt {float: left;   width: 65%;}
.news-list-item-img {float: right;  width: 35%;}

.news-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.news-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.news-item-img {float: right;  width: 35%; height: auto; padding-top: 20px;  text-align: center; margin: 0;}	
.news-item-img img {width: 100%; max-width: 100%; height: auto;}

/**************************
FAQS MODULE
**************************/
.faqs .accordion-toggle {text-decoration: none!important;}
.faqs .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Font Awesome\ 5 Free';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    padding-left:10px;
	font-weight:900
}
.faqs .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

/**************************
DOCUMENTS MODULE
**************************/
.document-wrapper {width:100%; clear:both; border-top: 1px #007bff solid; padding: 10px 10px;}
.document-title {float:left;}
.document-link {float:right;}
.document-link a, .document-link a:active, .document-link a:visited {text-decoration: none;}	
.document-details {width:100%; clear:both; padding-bottom: 5px; }

/**************************
GALLERY MODULE
**************************/
.gallery-block{
	padding-bottom: 20px;
	padding-top: 20px;
}

.gallery-block.cards-gallery h6 { color: #669966 !important; font-weight: 600 !important; padding-top: 12px;}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {padding:0;  text-align: center; }

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

#baguetteBox-overlay .full-image figcaption {background-color: #66cc33!important; color: #fff!important;}

/**************************
PROJECTS MODULE
**************************/
.project-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.project-list-item .btn {padding: 2px 20px;}
.project-list-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-list-item-img {float: right; text-align: center;margin: 0 0 20px 0;}	
.project-list-item-img img {width: 100%; max-width: 100%; height: auto;}

.project-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.project-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-item-img {float: right;  width: 35%; height: auto; text-align: center;}	
.project-item-img img {width: 100%; max-width: 100%; height: auto; } 

.project-block.cards-project .card{
  transition: 0.4s ease; 
}

.project-block.cards-project .card img {}

@media (min-width: 576px) {
	.project-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);	   
	}
}


.team-block.cards-team .card{
    transition: 0.4s ease;
}

.team-block.cards-team .card img {}

@media (min-width: 576px) {
    .team-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
    }
}

/**************************
TEAM MODULE
**************************/

.team-item {
    width: 100%;
    padding-top: 40% !important;
}

.team-item-img {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    background-size: cover !important;
    padding: 15px;
}

.team-name-band{
    position: absolute;
    bottom: 5px;
    height: 40px;
    padding: 10px;
    width: calc(100% - 10px);
    background: rgba(0, 0, 0, .5);
    left: 0;
    margin-left: 5px;
    text-align: center;
    color: white;
}

.team-name-band-title {font-size: 16px; color:#fff; font-weight: 300;}

.team-name-band a:hover{
    color: white !important;
}

.team-name-band p {color:#fff; margin-bottom: 0; font-weight: 600;}

.team-name-band a:hover > p {color:#66cc33!important;}

.team-img{ width: 300px; }
.team-name {color: #669966!important; font-weight: 600!important; padding-top: 12px;}
.team-job-title {color:#ff6633; padding-bottom: 12px;} 
.team-role {color:#000;} 
.team-qualification {color:#000; font-size:15px; padding-bottom: 25px;} 

.team-member-box{ border: 1px solid #000; margin-bottom: 20px; padding-top: 15px; padding-bottom: 15px;}
.team-member-box .col-12{ text-align: center; font-size:16px;}

.tm-short-description{ font-size: 13px!important; }
.team-member-box{ height: 355px;}
.team-page-member-box{  height:auto; overflow: hidden;}
.team-member-box:hover{ background-color: rgba(102,204,51,0.20); transition: 0.3s; }

.team-name, .team-job-title {padding-left:5px;}

/**************************
RESPONSIVE
**************************/
@media screen and (max-width: 480px) {	
	header {height: 80px!important; background-color:#fff;}
	body {background-color:#333333;}
	main {background-color:#fff;}
	
	.navbar-contacts a {font-size: 23px;}
	.navbar-logo { position: relative!important; top: -5px!important;}		
	
	.navbar-contacts-left { height:50px!important; top:0!important;}
	
	.affix .custom-toggler-responsive {top: 20px!important;}
	
	.blog-sidebar  {width: 100%!important; max-width: 100%!important; padding: 0 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 2; order: 2; border: 0; flex: unset; }			
	.blog-main { width: 100%; padding: 20px 10px 10px 10px; margin: 0; background: none; border: none; -webkit-order: 1; order: 1; flex:none!important; max-width: 100%;}	
	
	.navbar-logo {height: 65px!important;}
	.navbar-logo img {width:80%; padding-top:8px!important; height:auto!important;}
	.navbar-contacts {height: 60px!important;}
	.navbar-contacts-txt, .navbar-contacts a {font-size:20px;}
	.navbar-contacts i {font-size:20px;}	
	.navbar-contacts a {margin-top: 0px;}	
	.custom-toggler-responsive {top: 20px!important;}
	.navbar-collapse {top: -65px!important;}
	.navbar-nav .nav-link {padding-top: 0; padding-bottom: 0;}
	 
	.navbar-contacts {height: 116px;}
	.navbar-contacts-left {width:100%; float:none; height:30px; position: absolute; top:0;}
	.navbar-contacts-right {width:100%; float:none; height:30px; position: absolute; top:30px;}
	.navbar-contacts-txt {text-align: center;}
	.navbar-contacts-lang {top: 52px;}
	.navbar-contacts-txt-lang {top: 28px!important;}
	
	.affix .navbar-contacts-txt .panelNav {top: 0px!important;}
	.affix .navbar-logo {height: 65px!important;}
	.affix .navbar-logo img {padding-top:8px!important;}
	.affix .navbar-collapse { top: -110px!important;}
	
	.carousel-item {height: 250px!important;}
	.carousel-item > img {height: 250px!important;}
	
	.home-intro-box {margin-top:4rem; margin-bottom: -4rem;}
	.home-intro-box-hdr {font-size: 40px;}
	.home-intro-box-txt {font-size: 16px; padding: 15px;}
	.body-spacer {height: 0!important}
	
	.footer {padding-top: 0px; margin-bottom: -30px;}
	.footer-col-contacts {padding-top: 15px;}
	.footer img {width:60%;}
	.footer h2 {font-size:16px;}
	.footer-col-links {margin-bottom: 20px; padding-top: 10px; }
	#footer-txt {padding-top: 0;}
	#footer-txt a {font-size:13px;}
	/*
	.carousel {top: 60px!important;}
	.carousel-inner {margin-bottom: 40px!important;}
	.carousel-caption {display:none; visibility: hidden; height:0;}
	*/
	
	.carousel {	position: relative; top: 40px; margin-bottom: 40px;}
	.carousel {margin-bottom:0px;}
	.inside-page {height:200px!important;}
	.inside-page .carousel-item > img {height: 200px!important;}
	.inside-page .carousel-item {height: 200px!important;}
	
	.team-name, .team-job-title {padding-left:5px;}
	
	.home-intro {width: 80%!important; margin: auto;}
}

@media only screen and  (max-width: 768px) {   
	.blog-sidebar  {width: 100%; padding: 0 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 2; order: 2; }			
	.blog-main { width: 100%; padding: 20px 10px 10px 10px; margin: 0; background: none; border: none; -webkit-order: 1; order: 1; flex:none!important; max-width: 100%;}		
}

@media only screen and  (max-width: 991px) {
	.blog-sidebar  {width: 100%!important; max-width: 100%!important; padding: 0 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 2; order: 2; border: 0; flex: unset; }			
	.blog-main { width: 100%; padding: 20px 10px 10px 10px; margin: 0; background: none; border: none; -webkit-order: 1; order: 1; flex:none!important; max-width: 100%;}	
	.blog-post {padding:0;}
	.sidebar-module {text-align: left; margin-right:0;}
	
	header {height:auto;}
	.navbar1 {position: fixed; top: 75px; right: 0; width: 100%; text-align: center; }
	.custom-toggler-responsive {position: fixed; top: 68px; width: 100%; text-align: center; }
	.affix .custom-toggler-responsive {top: 25px; }
	.affix .navbar {top: 45px;}
	.navbar-menu, .affix .navbar-menu {background-color: #fff; height:0;}
	.navbar-collapse {background-color: #fff; position: relative; top: -130px;}	
	.affix .navbar-collapse { top: -110px;}
	
	.navbar-contacts {height: 116px;}
	.navbar-contacts-left {width:100%;}
	.navbar-contacts-right {width:100%;}
	.navbar-contacts-txt {text-align: center;}
	.affix .navbar-logo {height: 95px;}
	.nav-link {text-align: center;}
	.navbar-contacts-txt-lang {top:55px;}
	
	.home-intro-box img {width:100%;}
	.home-intro-box-txt {width:100%; position: inherit;}
	
	.body-spacer {height: 700px;}
	
	.footer {text-align: center;}
	#footer-txt {text-align: center;}
	
	.home-intro {width: 60%; margin: auto;}
	.home-intro-box-txt {padding: 10px;}
	
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For ipad portrait layouts only */
	.navbar-contacts a {font-size: 23px;}
	.navbar-logo { /*position: relative; top: -10px;*/}	
	.custom-toggler-responsive {top: 58px;}
	
	.affix .navbar-contacts-left {top: 5px!important; position:relative!important; height:35px!important;}
	.affix .custom-toggler-responsive {top: 22px!important;}
	
	.carousel {	position: relative; top: 220px; margin-bottom: 250px;}
	.carousel-item {height: 400px!important;}
	.carousel-item > img {height: 400px!important;}

	.carousel-inside .carousel-item, .carousel-inside .carousel-item > img {height:160px!important;}
	
	.home-intro-box-txt {padding: 20px; width: 100%!important; position: inherit!important; left:auto!important;    transform: none!important; -webkit-transform:none!important; -moz-transform:none!important; -o-transform:none!important; }
	
	.team-name, .team-job-title {padding-left:5px;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For ipad landscape layouts only */
	.navbar-nav .nav-link {font-size: 14px!important; padding-left: 10px!important; padding-right: 10px!important;}
	.navbar-menu {height:38px;}
	
	.affix .navbar-menu {height: 20px; position:relative!important; top:-10px!important;}
	.affix .navbar-contacts, .affix .navbar-contacts-left, .affix .navbar-contacts-right {height: 40px!important;}
	.affix .navbar-contacts {top:0!important; position:relative!important;}
    .affix .navbar-logo {position:relative!important; top:-10px!important;}
  
    .navbar-nav .nav-link {font-size:15px!important;}
    .affix .navbar-menu {height: 40px!important;} 
    .affix .navbar-nav .nav-link {padding-top: 10px!important;}

	.home-intro-box-txt {font-size:20px;}
	.body-spacer {height: 700px;}
	
	.team-name, .team-job-title {padding-left:5px;}
	
	.footer img {width:95%;}
	.footer-col-contacts {position: relative!important; display:block!important; flex:none!important; max-width: 50%!important; padding-top:0px; padding-bottom: 10px; width: 50%!important; min-height: 1px!important; padding-right: 15px!important; padding-left: 15px!important;}
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1337px) and (orientation:portrait) {
    /* For ipad pro portrait layouts only */
	.navbar-nav .nav-link {padding-left: 10px!important; padding-right: 10px!important;}
	.footer img {width:90%;}
	.footer-col-contacts {position: relative!important; display:block!important; flex:none!important; max-width: 50%!important; padding-top:0px; padding-bottom: 10px; width: 50%!important; min-height: 1px!important; padding-right: 15px!important; padding-left: 15px!important;}
}

@media only screen and (max-width: 991px) and (orientation:landscape) {
.footer-col-links {margin-bottom: 20px; padding-top: 10px; position: relative; top: 0px;}
}

/* Extra Break Points */
@media only screen and (min-device-width: 769px) and (max-width: 1600px) {	
	.navbar-nav .nav-link { padding-left: 10px!important; padding-right: 10px!important;}
	.dropdown-menu {margin-left: 0px!important;}
	/*.navbar-nav .nav-link {font-size:16px;}*/
	.btco-hover-menu a, .navbar > li > a {font-size: 15px;}
	
	.home-intro-box-txt {font-size:18px;}
	
	.home-intro {width: 80%; margin: auto;}
	
	.body-spacer {height: 600px;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1200px) {	
	.navbar-nav .nav-link {font-size:15px;}
	.home-intro-box-txt {font-size: 16px;}
	
	.body-spacer {height: 400px;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1100px) {		
	.home-intro-box-txt {font-size: 14px;}
	
	.body-spacer {height: 0px;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1000px) {	
	.navbar-nav .nav-link {font-size:14px;}		
	
	.body-spacer {height: 300px;}
}
